Repository eclipse/che-che4z-zos-resource-explorer, pull requests merged in 2019-09, with the labels that each got.

#41 #30 tests for DatasetDataProvider
  src/__mocks__/vscode.ts
  src/__tests__/DatasetDataProvider.test.ts
  src/__tests__/utils/DatasetUtils.ts
  src/commands/AllocateLikeDataset.ts
  src/commands/CreateMember.ts
  src/commands/DeleteMember.ts
  src/commands/EditConnection.ts
  src/commands/PasteMember.ts
  src/commands/RefreshConnection.ts
  src/extension.ts
  src/model/DSEntities.ts
  src/service/DatasetEditManager.ts
  src/service/__mocks__/SettingsFacade.ts
  src/ui/tree/DatasetDataProvider.ts
  src/ui/views/HostPanel.ts
Labels: enhancement

#49 #30 SettingsFacede unit tests
  src/__mocks__/vscode.ts
  src/__tests__/DatasetDataProvider.test.ts
  src/__tests__/SettingsFacade.test.ts
  src/__tests__/utils/TestUtils.ts
  src/service/SettingsFacade.ts
Labels: test

#46 #30 Browse Member command test
  src/__mocks__/vscode.ts
  src/__tests__/BrowseMember.test.ts
  src/__tests__/DatasetCache.test.ts
  src/__tests__/utils/DatasetUtils.ts
Labels: test

#50 #30 Connection commands tests
  src/__tests__/DeleteConnection.test.ts
  src/__tests__/RefreshConnection.test.ts
  src/__tests__/extension.test.ts
  src/__tests__/utils/TestUtils.ts
Labels: test

#45 Issue #32 remove member word
  package.json
  src/extension.ts
  src/service/DatasetEditManager.ts
Labels: enhancement, tested

#51 #30 update commands id in unittests
  src/__mocks__/vscode.ts
  src/__tests__/datasetEditManager.test.ts
Labels: bug, test

#57 Delete member unit tests
  src/__mocks__/vscode.ts
  src/__tests__/DeleteMember.test.ts
  src/service/__mocks__/SettingsFacade.ts
Labels: test

#52 Paste member unit test
  src/__tests__/PasteMember.test.ts
Labels: test

#58 Create unit tests for utils
  jest.config.js
  src/__mocks__/vscode.ts
  src/__tests__/utils.test.ts
  src/utils.ts
Labels: test

#59 #30 Dataset Service unit tests
  src/__mocks__/vscode.ts
  src/__tests__/DatasetService.test.ts
Labels: test

#61 Create filter unit test
  src/__mocks__/utils.ts
  src/__tests__/CreateFilter.test.ts
Labels: test

#62 #30 extension initialization test
  src/__mocks__/vscode.ts
  src/__tests__/extension.test.ts
Labels: test

#64 Edit filter unit tests
  src/__tests__/EditFilter.test.ts
Labels: test

#65 #30 DatasetEditManager unit test
  src/__mocks__/fs.ts
  src/__mocks__/vscode.ts
  src/__tests__/DatasetDataProvider.test.ts
  src/__tests__/DeleteMember.test.ts
  src/__tests__/datasetEditManager.test.ts
  src/service/DatasetEditManager.ts
  src/service/__mocks__/DatasetService.ts
  src/service/__mocks__/SettingsFacade.ts
  src/service/__mocks__/ZoweRestClient.ts
  src/ui/tree/DatasetDataProvider.ts
  src/ui/tree/__mocks__/DatasetDataProvider.ts
Labels: bug, test

#73 #30 Fix paths in test
  src/__tests__/datasetEditManager.test.ts
Labels: test
